################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/zrweb/FileContentIndex/83066608-0136-46d1-bf0f-ad4174197a0d.vsidx
/.vs/VSWorkspaceState.json
/.vs/zrweb/config
/.vs/zrweb/CopilotIndices/17.14.1686.8233
/.vs/zrweb/FileContentIndex
/.vs/zrweb/v17/.wsuo
/.vs/zrweb/v17/DocumentLayout.backup.json
/.vs/zrweb/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/zrweb2.slnx
