<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZrWebConnectionString" connectionString="Server=www123ic.sqlserver.rds.aliyuncs.com,3433;Database=hjhdb;User ID=zr001;Password=zr001@123;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 网站基本信息 -->
    <add key="SiteName" value="阻容网" />
    <add key="SiteDomain" value="ZR.net.cn" />
    <add key="SiteTitle" value="阻容网 - 电子元器件 B2B 平台" />
    <add key="SiteKeywords" value="阻容网,电子元器件,B2B,贴片电容,贴片电阻,供需撮合" />
    <add key="SiteDescription" value="阻容网是专业的电子元器件B2B交易平台，提供贴片电容、贴片电阻等被动元件的供需撮合服务。" />
    <add key="ICP" value="粤ICP备2026073346" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages validateRequest="false" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <sessionState mode="InProc" timeout="10080" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>